﻿@model Fincas.Models.Persona

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("tipo de identificacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_identificacion)
        </dd>

        <dt>
            @Html.DisplayName("numero de identificacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "AdministrarPorFinca", new { idFinca = ViewBag.idFinca })
</p>
