﻿@model IEnumerable<Fincas.Models.Persona>

@{
    ViewBag.Title = "Personas";
}

<h2>Personas</h2>

<p>
    @Html.ActionLink("Agregar", "Create", new { idFinca = @ViewBag.idFinca })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("tipo de identificacion")
        </th>
        <th>
            @Html.DisplayName("numero de identificacion")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @Html.ActionLink("Administrar Familiares", "AdministrarFamiliares","Familiar", new { idFinca=ViewBag.idFinca,idPersona = item.codigo },null) |
                @Html.ActionLink("Editar", "Edit", new { id = item.codigo, idFinca=ViewBag.idFinca}) |
                @Html.ActionLink("Detalles", "Details", new { id = item.codigo, idFinca = ViewBag.idFinca } ) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo, idFinca = ViewBag.idFinca })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Volver", "Index", "Fincas")
