﻿@model Fincas.Models.Persona

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Persona   </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("tipo de identificacion", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tipo_identificacion, new SelectList(new List<Object> { "TI", "CC" }), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipo_identificacion, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.Label("numero de identificacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero_identificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numero_identificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Parentesco", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("parentesco", new SelectList(new List<Object> { "Esposo(a)", "Hijo(a)", "Hermano(a)","Sobrino(a)" }), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Parentesco", "", new { @class = "text-danger" })
            </div>
        </div>
        <input id="rol"
               name="rol"
               type="hidden"
               value="Familiar" />
        <input id="idPersona"
               name="idPersona"
               type="hidden"
               value=@ViewBag.idPersona />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "AdministrarFamiliares", new { idPersona = ViewBag.idPersona })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
