﻿@model Fincas.Models.Persona

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar esta persona?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("tipo de identificacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_identificacion)
        </dd>

        <dt>
            @Html.DisplayName("numero de identificacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Parentesco")
        </dt>

        <dd>
            @ViewBag.parentesco
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input id="idPersona"
               name="idPersona"
               type="hidden"
               value=@ViewBag.idPersona />
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "AdministrarFamiliares", new { idPersona = ViewBag.idPersona })
        </div>
    }
</div>
