﻿@model IEnumerable<Fincas.Models.Persona>

@{
    ViewBag.Title = "Familiares";
}

<h2>Familiares</h2>

<p>
    @Html.ActionLink("Agregar", "Create", new { idPersona = @ViewBag.idPersona })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("tipo de identificacion")
        </th>
        <th>
            @Html.DisplayName("numero de identificacion")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayName("parentesco")
        </th>
        <th></th>
    </tr>

    @for (var i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        var parentesco = ViewBag.parentescos[i];
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @parentesco
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.codigo, idPersona = ViewBag.idPersona,parentesco=parentesco }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.codigo, idPersona = ViewBag.idPersona,parentesco=parentesco }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo, idPersona = ViewBag.idPersona, parentesco = parentesco })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Volver", "AdministrarPorFinca","Personas", new { idFinca = ViewBag.idFinca },null)
