﻿@model IEnumerable<Fincas.Models.Finca>

@{
    ViewBag.Title = "Fincas";
}

<h2>Fincas</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vereda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departamento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vereda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.ActionLink("Administrar Personas", "AdministrarPorFinca", "Personas", new { idFinca = item.codigo }, null) |
                @Html.ActionLink("Editar", "Edit", new { id = item.codigo }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.codigo }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo })
            </td>
        </tr>
    }

</table>

